apiVersion: v1
kind: Service
metadata:
  name: dire-matching-engine
  labels:
    app: dire-matching-engine
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: dire-matching-engine
